.customScroll{
  overflow: hidden;
  overflow-y: auto;
}
.passwordCard{
  width: 95%;
  margin: auto;
  display: block;
  --background: #F50057;
  margin-top: 2vh;
  border-radius: 10px;
}
.passwordButton{
  --background: #F50057;
  --border-radius: 5px;
  width: 95%;
  height: 50px;
  margin: auto;
  display: block;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}
.cancelButton{
  --border-color: #F50057;
  --border-radius: 5px;
  width: 95%;
  height: 50px;
  margin: auto;
  display: block;
  margin-top: 2.5vh;
}
.passwordTitle{
  margin: 0px;
  padding: 0px;
  font-size: 5vw;
  color: #F50057;
  margin-top: 1vh;
}
.description{
  margin: 0px;
  padding: 0px;
  font-size: 4vw;
  color: #F50057;
  margin-top: 0.5vh;
}
.formItem{
  width: 95%;
  margin: auto;
  display: block;
  --background: none;
  --highlight-color: #F50057;
  --highlight-color-focused: #F50057;
  --highlight: #F50057;
}
.formInput{
  color: #F50057;
}
.item-has-focus.label-floating.sc-ion-label-md-h, .item-has-focus .label-floating.sc-ion-label-md-h, .item-has-placeholder.label-floating.sc-ion-label-md-h, .item-has-placeholder .label-floating.sc-ion-label-md-h, .item-has-value.label-floating.sc-ion-label-md-h, .item-has-value .label-floating.sc-ion-label-md-h {
  color: #F50057;
}
.item-has-focus.label-floating.sc-ion-label-ios-h, .item-has-focus .label-floating.sc-ion-label-ios-h, .item-has-placeholder.label-floating.sc-ion-label-ios-h, .item-has-placeholder .label-floating.sc-ion-label-ios-h, .item-has-value.label-floating.sc-ion-label-ios-h, .item-has-value .label-floating.sc-ion-label-ios-h {
color: #F50057;
}
.passwordText{
  color: #F50057;
  text-align: center;
  font-size: 4vw;
  margin-top: 4vh;
}
