<ion-content class="appContainer customScroll">
  <br>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <img class="qrIcon" src="../../../../assets/icon/undraw_Camera_re_cnp4.svg">
      </ion-col>
      <ion-col size="8">
        <h1 class="passwordTitle">Hand-R</h1>
        <p class="description">Recuperación de contraseñas</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="passwordForm">
    <ion-item class="formItem">
      <ion-label class="productSans" position="floating" color="dark">Correo electrónico</ion-label>
      <ion-input class="formInput" type="email" formControlName="email"></ion-input>
    </ion-item>
  </form>
  <ion-button class="passwordButton ion-text-capitalize" (click)="recoverPasssword()" [disabled]="passwordForm.invalid">Enviar</ion-button>
  <ion-button class="cancelButton ion-text-capitalize" fill="outline" (click)="closeModal()">Cancelar</ion-button>
</ion-content>
