.homeIlustration{
  width: 60%;
  margin: auto;
  display: block;
  margin-top: 15vh;
}
.homeTitle{
  margin: 0px;
  padding: 0px;
  font-size: 6vw;
  text-align: center;
  margin-top: 7vh;
}
.homeSubTitle{
  margin: 0px;
  padding: 0px;
  font-size: 4.5vw;
  text-align: center;
  margin-top: 2vh;
}
.homeButton{
  margin: 0px;
  padding: 0px;
  width: 85%;
  height: 50px;
  margin: auto;
  display: block;
  margin-top: 30vh;
  --border-radius: 10px
}
.registerText{
  margin: 0px;
  padding: 0px;
  font-size: 4vw;
  text-align: center;
  margin-top: 4vh;
}
